V1((
    entities: [
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (2, -1),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (3, -1),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, -1),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (2, -3),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (1, -5),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (2, -5),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (3, -5),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (3, -6),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (2, -6),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (1, -6),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, -5),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, -6),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, -4),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (5, -4),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (5, -5),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (5, -6),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (7, -3),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (0, -2),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (0, -3),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: Some(1),
            identifier: "Player",
            pos: (
                cell: (3, -4),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: Some(Magnet),
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: Some(2),
            identifier: "Player",
            pos: (
                cell: (5, -3),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: Some(Jump),
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
    ],
    powerups: [],
    goals: [
        (
            pos: (
                cell: (7, -2),
                angle: (0),
            ),
        ),
    ],
))