(
  texture: "LStiles.png",
  tile_size: (16, 16),
  tiles: {
    "block": AutoTile (
      color_coded_rules: "LSrule.png",
      default: Some((3, 1)),
    ),
    "disable": At(11, 5),
    "Player": At(0, 5),
    "Goal": At(1, 5),
    "JumpPower": At(0, 6),
    "SlidePower": At(1, 6),
    "MagnetPower": At(2, 6),
    "DisableTriggerPower": At(3, 6),
    "Box": At(0, 8),
    "Crate": At(1, 8),
    "DisableBox": At(4, 8),
    "cloud": At(3, 9),
    "EditorSelect": At(0, 9),
    "Plus": At(5, 8),
  },
  error: At(4, 4),
)
