[
    "1MagEasy",
    "FallJumpPractice2",
    "smallLjumpPractice",
    "28",
    "EasySlide",
    "TryToTeachPlayerLJumpShape",
    "Slide2",
    "BoxThroughSlide",
    "CrateCoop",
    "SlideStop",
    "SlideCoop",
]