[
    "28",
    "doubleSideJump",
    "smallLjumpPractice",
    "EasySlide",
    "TryToTeachPlayerLJumpShape",
    "Slide2",
    "SlideStop",
    "3",
    "boxIntro",
    "boxPractice",
    "23",
    "40",
    "1",
    "2",
    "41",
    "6",
    "36",
    "42",
    "44",
    "CrateCoop",
    "SlideCoop",
    "SpaceJump",
]