V1((
    entities: [
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (1, 0),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (2, -1),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, -2),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (5, -2),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (6, -2),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (7, -2),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (7, -1),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (5, 0),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, 1),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: Some(1),
            identifier: "Player",
            pos: (
                cell: (5, 1),
                angle: (0),
            ),
            sides: ((
                effect: Some(Jump),
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
    ],
    powerups: [],
    goals: [
        (
            pos: (
                cell: (2, 0),
                angle: (0),
            ),
        ),
    ],
))