(
    id_gen: (
        next_id: 4,
    ),
    tiles: {
        (14, -4): Block,
        (8, -9): Block,
        (15, -12): Block,
        (4, -12): Block,
        (12, -11): Block,
        (10, -3): Block,
        (10, -8): Block,
        (2, -2): Block,
        (11, -4): Block,
        (2, -6): Block,
        (16, -1): Block,
        (13, -6): Block,
        (3, -2): Block,
        (15, -6): Block,
        (17, -1): Block,
        (13, -7): Block,
        (9, -10): Block,
        (8, -11): Block,
        (14, -11): Block,
        (4, -1): Block,
        (5, -3): Block,
        (10, -4): Block,
        (14, -6): Block,
        (17, -8): Block,
        (8, -3): Block,
        (3, -3): Block,
        (7, -2): Block,
        (14, -3): Block,
        (17, -5): Block,
        (4, -6): Block,
        (16, -10): Block,
        (5, -11): Block,
        (12, -12): Block,
        (4, -10): Block,
        (2, -12): Block,
        (11, -3): Block,
        (7, -8): Block,
        (15, -11): Block,
        (11, -8): Block,
        (6, -3): Block,
        (12, -1): Block,
        (14, -9): Block,
        (7, -6): Block,
        (12, -8): Block,
        (4, -9): Block,
        (12, -9): Block,
        (12, -10): Block,
        (17, -12): Block,
        (17, -3): Block,
        (14, -7): Block,
        (17, -6): Block,
        (6, -9): Block,
        (17, -11): Block,
        (5, -2): Block,
        (10, -2): Block,
        (10, -1): Block,
        (16, -4): Block,
        (15, -7): Block,
        (3, -10): Block,
        (13, -11): Block,
        (4, -2): Block,
        (12, -4): Block,
        (9, -12): Block,
        (4, -8): Block,
        (15, -9): Block,
        (3, -1): Block,
        (13, -1): Block,
        (2, -8): Block,
        (13, -9): Block,
        (17, -4): Block,
        (15, -2): Block,
        (7, -12): Block,
        (3, -9): Block,
        (2, -10): Block,
        (3, -8): Block,
        (16, -6): Block,
        (8, -8): Block,
        (16, -9): Block,
        (11, -10): Block,
        (7, -3): Block,
        (3, -4): Block,
        (3, -6): Block,
        (13, -2): Block,
        (7, -10): Block,
        (8, -1): Block,
        (6, -4): Block,
        (7, -1): Block,
        (17, -2): Block,
        (5, -4): Block,
        (15, -10): Block,
        (10, -9): Block,
        (16, -11): Block,
        (6, -2): Block,
        (16, -3): Block,
        (8, -10): Block,
        (15, -1): Block,
        (8, -2): Block,
        (12, -3): Block,
        (5, -12): Block,
        (17, -10): Block,
        (2, -5): Block,
        (2, -1): Block,
        (11, -2): Block,
        (11, -12): Block,
        (16, -12): Block,
        (6, -8): Block,
        (2, -11): Block,
        (15, -5): Disable,
        (3, -7): Block,
        (2, -7): Block,
        (16, -5): Block,
        (5, -8): Block,
        (10, -10): Block,
        (3, -11): Block,
        (3, -12): Block,
        (11, -11): Block,
        (4, -4): Block,
        (14, -10): Block,
        (2, -9): Block,
        (13, -3): Block,
        (13, -4): Block,
        (16, -8): Block,
        (6, -11): Block,
        (6, -6): Disable,
        (11, -9): Block,
        (9, -2): Block,
        (7, -9): Block,
        (6, -10): Block,
        (16, -7): Block,
        (5, -10): Block,
        (15, -8): Block,
        (17, -9): Block,
        (16, -2): Block,
        (15, -3): Block,
        (13, -8): Block,
        (14, -2): Block,
        (2, -4): Block,
        (2, -3): Block,
        (6, -12): Block,
        (13, -12): Block,
        (13, -10): Block,
        (8, -6): Block,
        (17, -7): Block,
        (4, -11): Block,
        (10, -11): Block,
        (5, -1): Block,
        (9, -3): Block,
        (14, -1): Block,
        (10, -12): Block,
        (5, -9): Block,
        (8, -12): Block,
        (6, -1): Block,
        (9, -11): Block,
        (15, -4): Block,
        (12, -2): Block,
        (11, -1): Block,
        (10, -6): Disable,
        (14, -8): Block,
        (7, -11): Block,
        (9, -1): Block,
        (4, -3): Block,
        (3, -5): Block,
        (14, -12): Block,
    },
    entities: (
        by_id: {
            (3): (
                id: (3),
                identifier: "Crate",
                properties: (
                    block: true,
                    trigger: true,
                    player: false,
                    pushable: false,
                ),
                pos: (
                    cell: (8, -5),
                    angle: (0),
                ),
                prev_pos: (
                    cell: (8, -5),
                    angle: (0),
                ),
                prev_move: None,
                sides: ((
                    effect: None,
                ), (
                    effect: None,
                ), (
                    effect: None,
                ), (
                    effect: None,
                )),
            ),
            (0): (
                id: (0),
                identifier: "Player",
                properties: (
                    block: true,
                    trigger: true,
                    player: true,
                    pushable: false,
                ),
                pos: (
                    cell: (10, -7),
                    angle: (0),
                ),
                prev_pos: (
                    cell: (10, -7),
                    angle: (0),
                ),
                prev_move: None,
                sides: ((
                    effect: None,
                ), (
                    effect: None,
                ), (
                    effect: None,
                ), (
                    effect: None,
                )),
            ),
        },
    ),
    powerups: (
        by_id: {
            (1): (
                id: (1),
                pos: (
                    cell: (11, -7),
                    angle: (3),
                ),
                effect: Jump,
            ),
        },
    ),
    selected_player: Some((0)),
    goals: (
        by_id: {
            (2): (
                id: (2),
                pos: (
                    cell: (14, -5),
                    angle: (0),
                ),
            ),
        },
    ),
    stable: false,
)