V1((
    entities: [
        (
            index: Some(2),
            identifier: "Player",
            pos: (
                cell: (8, -4),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: Some(1),
            identifier: "Player",
            pos: (
                cell: (5, -7),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (3, -10),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (9, -9),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (9, -8),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, -8),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (7, -9),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (5, -10),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (10, -8),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (8, -9),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (6, -8),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, -9),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (9, -4),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (6, -9),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, -10),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (11, -8),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (10, -10),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (5, -9),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (3, -8),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (11, -9),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (3, -9),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (8, -8),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (8, -10),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (11, -10),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (9, -5),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (9, -10),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (8, -5),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (5, -8),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (10, -9),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (6, -10),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (7, -10),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (10, -4),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (10, -5),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (12, -7),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
    ],
    powerups: [],
    goals: [
        (
            pos: (
                cell: (9, -7),
                angle: (0),
            ),
        ),
    ],
))