(
  texture: "LStiles.png",
  tile_size: (16, 16),
  tiles: {
    "block": AutoTile (
      color_coded_rules: "LSrule.png",
      default: Some((3, 1)),
    ),
    "disable": At(11, 5),
    "Player": At(0, 5),
    "PlayerZzz": At(2, 5),
    "Goal": At(1, 5),
    "JumpPower": At(0, 6),
    "SlidePower": At(1, 6),
    "MagnetPower": At(2, 6),
    "DisableTriggerPower": At(3, 6),
    "Box": At(7, 5),
    "Crate": At(6, 5),
    "DisableBox": At(4, 8),
    "cloud": At(2, 9),
    "EditorSelect": At(0, 9),
    "Plus": At(5, 8),
    "Undo": At(10, 8),
    "Redo": At(11, 8),
    "Nice": At(6, 9),
    "Reset": At(8, 8),
    "Home": At(7, 8),
    "SwitchPlayer": At(6, 8),
    "Play": At(9, 8),
    "Save": At(10, 9),
    "Edit": At(8, 9),
    "Yes": At(5, 9),
    "No": At(6, 9),
    "Eraser": At(11,9),
  },
  error: At(4, 4),
)
