V1((
    entities: [
        (
            index: None,
            identifier: "Player",
            pos: (
                cell: (4, -5),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (6, -12),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (5, -12),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (8, -6),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, -6),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, -7),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (5, -7),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (8, -8),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (3, -8),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (9, -12),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (3, -6),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (5, -8),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (8, -11),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (10, -7),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (6, -6),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (6, -11),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (10, -8),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (5, -6),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (8, -12),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (7, -11),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (7, -8),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (6, -8),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (10, -6),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (3, -7),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (6, -7),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (7, -12),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (9, -11),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (7, -7),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (5, -11),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (8, -7),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (7, -6),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, -8),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, -10),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, -11),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, -12),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (3, -11),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (3, -12),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (3, -10),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (10, -11),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (10, -12),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (11, -11),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (11, -12),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (10, -10),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (11, -10),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (3, -9),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, -9),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (10, -9),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (2, -6),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (2, -7),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (2, -8),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (2, -9),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (2, -10),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (2, -11),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (2, -12),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (2, -13),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (3, -13),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, -13),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (5, -13),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (6, -13),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (7, -13),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (8, -13),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (9, -13),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (10, -13),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (11, -13),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (12, -13),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (12, -12),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (12, -11),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (12, -10),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (12, -9),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (11, -9),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (11, -8),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (11, -7),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (11, -6),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (12, -6),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (12, -7),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (12, -8),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
    ],
    powerups: [],
    goals: [
        (
            pos: (
                cell: (6, -10),
                angle: (0),
            ),
        ),
    ],
))