V1((
    entities: [
        (
            index: None,
            identifier: "Player",
            pos: (
                cell: (9, -8),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (5, -9),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, -3),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (7, -3),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (6, -3),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, -8),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (5, -8),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (5, -3),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (6, -9),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (9, -3),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, -9),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (7, -9),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (8, -9),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (8, -3),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (6, -8),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (9, -9),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (9, -10),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (8, -10),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (7, -10),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (6, -10),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (5, -10),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, -10),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (9, -11),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (8, -11),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (7, -11),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (6, -11),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (5, -11),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, -11),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, -4),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (6, -4),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (7, -4),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (9, -4),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (8, -4),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (5, -4),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (3, -3),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (3, -4),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (10, -3),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (10, -4),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (3, -8),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (3, -9),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (3, -10),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (3, -11),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (10, -9),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (10, -10),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (10, -11),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (3, -5),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (4, -5),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (5, -5),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (6, -5),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (7, -5),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (8, -5),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (9, -5),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
        (
            index: None,
            identifier: "block",
            pos: (
                cell: (10, -5),
                angle: (0),
            ),
            sides: ((
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            ), (
                effect: None,
            )),
        ),
    ],
    powerups: [
        (
            pos: (
                cell: (7, -8),
                angle: (3),
            ),
            effect: Jump,
        ),
    ],
    goals: [
        (
            pos: (
                cell: (5, -7),
                angle: (0),
            ),
        ),
    ],
))