[
    "BasicMove",
    "BasicRot",
    "BasicFall",
    "BasicJump",
    "BasicJump2",
    "Intro_FallJump",
    "12",
    "39",
    "13",
    "14",
    "17",
    "SideJumpIntro",
    "15",
    "DisableIntro",
    "16",
    "18",
    "20",
    "24",
    "25",
    "26",
    "27",
    "29",
    "30",
    "31",
    "32",
    "36",
    "33",
    "34",
    "35",
    "40",
    "41",
    "42",
    "43",
    "44",
]