(
    id_gen: (
        next_id: 8,
    ),
    tiles: {
        (7, -11): Block,
        (14, -8): Block,
        (9, -2): Block,
        (3, -9): Block,
        (12, -3): Block,
        (1, -1): Block,
        (12, -2): Block,
        (5, -2): Block,
        (1, -3): Block,
        (8, -3): Block,
        (2, -4): Block,
        (14, -6): Block,
        (3, -5): Block,
        (10, -2): Block,
        (4, -8): Block,
        (4, -10): Block,
        (1, -12): Block,
        (6, -7): Block,
        (5, -12): Block,
        (15, -8): Block,
        (15, -5): Block,
        (3, -1): Block,
        (8, -12): Block,
        (13, -12): Block,
        (14, -1): Block,
        (15, -9): Block,
        (11, -2): Block,
        (11, -12): Block,
        (4, -7): Block,
        (13, -11): Block,
        (10, -1): Block,
        (2, -9): Block,
        (1, -7): Block,
        (4, -2): Block,
        (4, -11): Block,
        (6, -10): Block,
        (3, -6): Block,
        (13, -4): Block,
        (1, -4): Block,
        (11, -1): Block,
        (7, -4): Block,
        (14, -7): Block,
        (10, -12): Block,
        (2, -8): Block,
        (15, -6): Block,
        (15, -7): Block,
        (8, -1): Block,
        (5, -1): Block,
        (1, -5): Block,
        (10, -4): Block,
        (6, -8): Block,
        (1, -9): Block,
        (6, -12): Block,
        (1, -11): Block,
        (2, -7): Block,
        (8, -2): Block,
        (13, -1): Block,
        (2, -1): Block,
        (5, -10): Block,
        (12, -8): Disable,
        (4, -5): Block,
        (14, -2): Block,
        (1, -2): Block,
        (15, -2): Block,
        (3, -10): Block,
        (10, -5): Block,
        (3, -7): Block,
        (15, -11): Block,
        (13, -2): Block,
        (12, -11): Block,
        (12, -9): Disable,
        (2, -6): Block,
        (9, -5): Block,
        (3, -4): Block,
        (4, -9): Block,
        (9, -12): Block,
        (12, -12): Block,
        (14, -10): Block,
        (4, -6): Block,
        (7, -2): Block,
        (2, -5): Block,
        (12, -1): Block,
        (5, -8): Block,
        (2, -10): Block,
        (8, -11): Block,
        (12, -4): Block,
        (15, -10): Block,
        (4, -12): Block,
        (5, -4): Block,
        (14, -5): Block,
        (5, -6): Block,
        (1, -6): Block,
        (5, -5): Block,
        (2, -11): Block,
        (5, -11): Block,
        (1, -8): Block,
        (6, -11): Block,
        (14, -11): Block,
        (6, -2): Block,
        (10, -11): Block,
        (8, -4): Block,
        (14, -4): Block,
        (7, -12): Block,
        (9, -3): Block,
        (11, -9): Disable,
        (14, -9): Block,
        (11, -11): Block,
        (2, -12): Block,
        (14, -3): Block,
        (3, -2): Block,
        (2, -3): Block,
        (10, -3): Block,
        (15, -1): Block,
        (13, -3): Block,
        (8, -5): Block,
        (7, -1): Block,
        (5, -7): Block,
        (6, -1): Block,
        (15, -12): Block,
        (11, -3): Block,
        (3, -11): Block,
        (7, -5): Block,
        (4, -1): Block,
        (7, -3): Block,
        (11, -4): Block,
        (9, -1): Block,
        (7, -7): Block,
        (9, -11): Block,
        (3, -12): Block,
        (9, -4): Block,
        (1, -10): Block,
        (15, -3): Block,
        (14, -12): Block,
        (4, -4): Block,
        (2, -2): Block,
        (15, -4): Block,
        (3, -8): Block,
    },
    entities: (
        by_id: {
            (0): (
                id: (0),
                identifier: "Player",
                properties: (
                    block: true,
                    trigger: true,
                    player: true,
                    pushable: false,
                ),
                pos: (
                    cell: (3, -3),
                    angle: (0),
                ),
                prev_pos: (
                    cell: (3, -3),
                    angle: (0),
                ),
                prev_move: None,
                sides: ((
                    effect: None,
                ), (
                    effect: None,
                ), (
                    effect: None,
                ), (
                    effect: None,
                )),
            ),
            (5): (
                id: (5),
                identifier: "Player",
                properties: (
                    block: true,
                    trigger: true,
                    player: true,
                    pushable: false,
                ),
                pos: (
                    cell: (5, -9),
                    angle: (0),
                ),
                prev_pos: (
                    cell: (5, -9),
                    angle: (0),
                ),
                prev_move: None,
                sides: ((
                    effect: None,
                ), (
                    effect: None,
                ), (
                    effect: None,
                ), (
                    effect: None,
                )),
            ),
        },
    ),
    powerups: (
        by_id: {
            (6): (
                id: (6),
                pos: (
                    cell: (6, -6),
                    angle: (2),
                ),
                effect: Jump,
            ),
            (7): (
                id: (7),
                pos: (
                    cell: (6, -9),
                    angle: (3),
                ),
                effect: DisableTrigger,
            ),
            (3): (
                id: (3),
                pos: (
                    cell: (6, -3),
                    angle: (0),
                ),
                effect: Slide,
            ),
            (1): (
                id: (1),
                pos: (
                    cell: (4, -3),
                    angle: (3),
                ),
                effect: Slide,
            ),
            (2): (
                id: (2),
                pos: (
                    cell: (5, -3),
                    angle: (1),
                ),
                effect: Slide,
            ),
        },
    ),
    selected_player: Some((0)),
    goals: (
        by_id: {
            (4): (
                id: (4),
                pos: (
                    cell: (11, -8),
                    angle: (0),
                ),
            ),
        },
    ),
    stable: false,
)