(
    id_gen: (
        next_id: 9,
    ),
    tiles: {
        (6, -4): Block,
        (13, -1): Block,
        (5, -4): Block,
        (11, -8): Disable,
        (4, -10): Block,
        (14, -10): Block,
        (15, -8): Block,
        (3, -2): Block,
        (14, -2): Block,
        (10, -2): Block,
        (2, -4): Block,
        (14, -4): Block,
        (13, -9): Block,
        (10, -4): Block,
        (12, -1): Block,
        (6, -8): Block,
        (2, -10): Block,
        (5, -2): Block,
        (14, -9): Block,
        (7, -4): Block,
        (3, -8): Block,
        (4, -8): Block,
        (10, -8): Block,
        (11, -1): Block,
        (3, -1): Block,
        (5, -9): Block,
        (7, -8): Block,
        (3, -6): Block,
        (10, -9): Block,
        (6, -6): Block,
        (11, -9): Block,
        (9, -9): Block,
        (15, -5): Block,
        (4, -9): Block,
        (6, -9): Block,
        (13, -2): Block,
        (9, -2): Block,
        (15, -10): Block,
        (2, -7): Block,
        (13, -4): Block,
        (12, -9): Block,
        (13, -5): Block,
        (14, -7): Block,
        (8, -6): Block,
        (4, -6): Block,
        (15, -1): Block,
        (5, -8): Block,
        (7, -2): Block,
        (9, -10): Block,
        (3, -10): Block,
        (14, -6): Block,
        (8, -4): Block,
        (12, -8): Block,
        (12, -2): Block,
        (4, -7): Block,
        (8, -8): Block,
        (5, -3): Block,
        (4, -4): Block,
        (6, -3): Block,
        (8, -9): Block,
        (13, -7): Block,
        (15, -6): Block,
        (7, -6): Block,
        (7, -3): Block,
        (2, -3): Block,
        (2, -8): Block,
        (3, -3): Block,
        (2, -5): Block,
        (15, -4): Block,
        (9, -1): Block,
        (13, -6): Block,
        (5, -10): Block,
        (9, -8): Block,
        (6, -2): Block,
        (11, -10): Block,
        (14, -8): Block,
        (3, -7): Block,
        (13, -8): Block,
        (15, -7): Block,
        (3, -5): Block,
        (13, -3): Block,
        (12, -10): Block,
        (10, -10): Block,
        (4, -1): Block,
        (8, -1): Block,
        (3, -9): Block,
        (9, -6): Block,
        (15, -9): Block,
        (8, -10): Block,
        (5, -1): Block,
        (7, -10): Block,
        (14, -1): Block,
        (4, -3): Block,
        (8, -3): Block,
        (7, -9): Block,
        (11, -4): Block,
        (14, -3): Block,
        (10, -1): Block,
        (6, -10): Block,
        (2, -9): Block,
        (7, -1): Block,
        (3, -4): Block,
        (14, -5): Block,
        (11, -2): Block,
        (15, -3): Block,
        (2, -2): Block,
        (6, -1): Block,
        (15, -2): Block,
        (13, -10): Block,
        (4, -2): Block,
        (2, -1): Block,
        (12, -7): Block,
        (2, -6): Block,
        (8, -2): Block,
    },
    entities: (
        by_id: {
            (0): (
                id: (0),
                identifier: "Player",
                properties: (
                    block: true,
                    trigger: true,
                    player: true,
                    pushable: false,
                ),
                pos: (
                    cell: (5, -7),
                    angle: (0),
                ),
                prev_pos: (
                    cell: (5, -7),
                    angle: (0),
                ),
                prev_move: None,
                sides: ((
                    effect: None,
                ), (
                    effect: None,
                ), (
                    effect: None,
                ), (
                    effect: None,
                )),
            ),
        },
    ),
    powerups: (
        by_id: {
            (7): (
                id: (7),
                pos: (
                    cell: (7, -7),
                    angle: (3),
                ),
                effect: Jump,
            ),
        },
    ),
    selected_player: Some((0)),
    goals: (
        by_id: {
            (8): (
                id: (8),
                pos: (
                    cell: (12, -6),
                    angle: (0),
                ),
            ),
        },
    ),
    stable: false,
)